// Ширина ограничивающего контейнера
$mainContainer: 1200px;

// Планшеты, некоторые телефоны в горизонтальном положении
$tablet:  991.98px;

// Телефоны L
$mobile:  767.98px;

// Телефоны S
$mobileSmall:  479.98px;

// Цвет фона по умолчанию
$mainColorBg: #fff;

// Цвет шрифта по умолчанию
$mainColorFont: #313131;

// Размер шрифта по умолчанию
$fontSizeDefault: 14;