<header class="header">
    <div class="header__container">

        <div class="header__inner">
            <a href="./index.html" class="header__inner-logo _img">
                <img src="./images/logo.webp" alt="Проект 'Новый мир' | Реальность Любви и Изобилия">
            </a>
            <div>
                <h1 class="header__inner-title">Проект "Новый мир" | Реальность Любви и Изобилия</h1>
                <h2 class="header__inner-subtitle">Осознанно твори реальность. Создай свой Мир!</h2>
            </div>
        </div>
        <!-- /.header__inner -->

        <div class="header__search">
            <label for="search">
                <i class="_icon-search"></i>
            </label>
            <input type="text" id="search" placeholder="Поиск">
        </div>
        <!-- /.header__search -->

    </div>
</header>