.advertisement {
    background: url('../images/adv.webp') center center/cover no-repeat;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 11px 0;
        gap: 23px;
    }

    &__title {
        color: #fff;
        line-height: 118.182%;
        font-size: 22px;
        font-weight: 700;
    }

    &__btn {
        align-items: center;
        justify-content: center;
        padding: 7px 24px;
        display: flex;
        border-radius: 6px;
        border: 1px solid rgba(255, 255, 255, 0.00);
        background: linear-gradient(94deg, rgba(78, 253, 91, 0.60) 14.33%, rgba(4, 208, 255, 0.60) 126.48%), #4EFD5B;

        color: #011F9A;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        line-height: 118.75%;
    }
}